<template
  type="text/x-template"
  id="c2-upgrade">
  <div
    class="modal-fullscreen addtoplaylist-panel"
    @click.self="closePromo"
    @contextmenu.self="closePromo">
    <div class="modal-window">
      <div class="modal-header">
        <div class="modal-title">Cider Update Available — GitHub</div>
        <button
          class="close-btn"
          @click="closePromo"
          :aria-label="app.getLz('action.close')"></button>
      </div>
      <div
        class="modal-content"
        style="text-align: center">
        <img
          src="./assets/c1-c2.png"
          style="margin: 12px 22px 0; pointer-events: none" />
        <p
          class="p-3"
          style="font-size: 14px">
          A new version or update for Cider might be available on GitHub.
          <br />Download the latest development builds, bug-fixes, and optimization updates directly from the official GitHub Releases page.
          <br />
          <br />
          <b>Always download the latest version for the best experience!</b>
          <br />
          <br />
          <label>
            <input
              type="checkbox"
              style="accent-color: var(--keyColor)"
              v-model="showOnStartup" />
            Show this reminder again on next startup
          </label>
          <template v-if="hasSeen">
            <br />
            <label>
              <input
                type="checkbox"
                style="accent-color: var(--keyColor)"
                v-model="removeItemFromMainMenu" />
              Remove update button from Quick Navigation/Main Menu
            </label>
          </template>
        </p>
      </div>
      <div
        class="modal-search"
        style="padding: 12px">
        <button
          class="btn btn-primary"
          @click="openGitHub"
          style="width: 100%">
          Update from GitHub
        </button>
        <button
          class="btn btn-secondary"
          @click="closePromo"
          style="width: 100%; margin-top: 1em">
          Close
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  Vue.component("c2-upgrade", {
    template: "#c2-upgrade",
    data: function () {
      return {
        app: this.$root,
        showOnStartup: true,
        hasSeen: localStorage.getItem("seenC2Upgrade"),
        removeItemFromMainMenu: false,
      };
    },
    methods: {
      closePromo() {
        this.app.modals.c2Upgrade = false;
        if (!this.showOnStartup) {
          localStorage.setItem("noC2Startup", true);
        }
        if (this.removeItemFromMainMenu) {
          localStorage.setItem("noC2Upgrade", true);
          app.chrome.noC2Upgrade = true;
        }
        localStorage.setItem("seenC2Upgrade", true);
      },
      openGitHub() {
        window.open("https://github.com/krishna3163/Cider-desktop/releases/latest");
      },
    },
  });
</script>
